<%- include("../shared/_header.ejs", {title: "Users-edit"}) %>

<div class="col-lg-4">
  <%- include("_form", { user: user, action: "/users/" + user.id + "/delete", method: "POST" }) %>
</div>

<%- include("../shared/_footer.ejs") %>