<%- include("../shared/_header.ejs", {title: "Users-new"}) %>

<% if(params.error==1){ %>
  <div class="alert alert-danger" role="alert">
    There was an error trying to create an user!
  </div>
  <% } %>

<div class="col-lg-4">
  <%- include("_form", { user: user, action: "/users", method: "Post" }) %>
</div>

<%- include("../shared/_footer.ejs") %>