<form action="/users" method="POST">
  
  <p>
    <label for="firstName">First Name</label>
    <input name="firstName" type="text"/>
  </p>

  <p>
   <label for="lastName">Last Name</label>
   <input name="lastName" type="text"/>
  </p>

  <p>
    <label for="email">Email</label>
    <input name="email" type="email"/>
   </p>

  <p>
   <input type="submit" value="Enviar datos"/>
  </p>

</form>