<form action="/users" method="POST">
  <p>
   <label for="email">Email</label>
   <input name="email" type="email"/>
  </p>

  <p>
   <label for="name">Name</label>
   <input name="name" type="text"/>
  </p>

  <p>
   <input type="submit" value="Enviar datos"/>
  </p>

</form>