<%- include("../shared/_header.ejs", {title: "Users-news"}) %>

<div class="col-lg-4">
  <form action="/users" method="POST">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input name="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input name="lastName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

<%- include("../shared/_footer.ejs") %>